@counter-style para {
  system: extends decimal;
  prefix: "ยง";
}

body:not(.no-webgl) canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body.no-webgl canvas {
  display: none;
  visibility: collapse;
  pointer-events: none;
}

body.no-webgl::after {
  pointer-events: none;
  background-image: url(/img/wallpaper.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  min-width: 100vw;
  min-height: 100vh;
}
