@counter-style para {
  system: extends decimal;
  prefix: "§";
}

body {
  background-image: url("https://reost.de/wallpaper.c00591b5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
