@use "theme";
@use "sass:math";

@function multiply($a, $b) {
    @return $a * $b;
}

@function abs($a) {
    @return "(" + $a + " * -" + $a + ")";
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

head,
head * {
    display: none;
}

:root {
    background-color: theme.$background;
    color: theme.$foreground;
    font-family: "Poppins", sans-serif;
}

@media (hover: hover) {
    body {
        &::before {
            $delta: 8px;
            will-change: transform;
            transform: translate(
                calc(var(--cursor-x) * #{$delta}),
                calc((var(--cursor-y)) * #{$delta})
            );
            inset: #{0 - $delta};
            width: calc(100vw + #{multiply($delta, 2)});
            height: calc(100vh + #{multiply($delta, 2)});

            filter: blur(
                calc(
                    (1px * (0.5 - var(--cursor-x) * var(--cursor-x))) +
                        (1px * (0.5 - var(--cursor-y) * var(--cursor-y)))
                )
            );
        }

        &::after {
            $delta: -16px;
            will-change: translate, rotate;
            translate: calc(var(--cursor-x) * #{$delta}),
                calc((var(--cursor-y) - 1) * #{$delta});
            filter: blur(
                calc(
                    (1px * var(--cursor-x) * var(--cursor-x)) +
                        (1px * var(--cursor-y) * var(--cursor-y))
                )
            );
        }
    }
}

body {
    &::before {
        $w: 779;
        $h: 1269;
        content: "";
        z-index: -2;
        display: block;
        position: fixed;
        background-image: url("/img/back.avif"), url("/img/back.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
    }

    &::after {
        $w: 779;
        $h: 1269;
        content: "";
        z-index: -1;
        height: 75vh;
        display: block;
        position: fixed;
        bottom: 0;
        left: calc(50vw - 17.5vmin);
        aspect-ratio: #{$w}/#{$h};
        background-image: url("/img/back_layer_01.avif"),
            url("/img/back_layer_01.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        animation: wind 7.5s ease-in-out infinite;
        transform-origin: 50% 100%;
    }
}

@keyframes wind {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 1.5deg;
    }
    100% {
        rotate: 0deg;
    }
}

.button {
    text-decoration: none;
    background: rgba(theme.$foreground, 0.2);
    box-shadow: 0 8px 32px 0 rgba(theme.$accent, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(theme.$foreground, 0.18);
    border-radius: 10px;
    color: theme.$foreground;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
        background: rgba(theme.$foreground, 0.4);
    }
}

h1 {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}

nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    ul,
    ol,
    li {
        list-style: none;
    }
}
