---
import Layout from "../layouts/Layout.astro";
import { getHead } from "../utils/head";
---

<Layout title="Team">
    <h2>Team</h2>

    <h3>
        <img
            src={getHead("d3e7009f11754aa790308aa9386fca3b")}
            alt=""
            width="32"
            height="32"
        />
        EasySIX4491
    </h3>
    <p>
        Instagram: <a
            href="https://www.instagram.com/easysix"
            target="_blank"
            rel="noopener noreferrer">easysix</a
        >
    </p>

    <h3>
        <img
            src={getHead("f8963be18e974c7f8bce4af9029c0488")}
            alt=""
            width="32"
            height="32"
        />
        Prof_Dr_Anny
    </h3>
    <p>
        Instagram: <a
            href="https://www.instagram.com/ichbinanny"
            target="_blank"
            rel="noopener noreferrer">ichbinanny</a
        >
    </p>

    <h3>
        <img
            src={getHead("b44ede9900b14e5998c6dd4c696e742d")}
            alt=""
            width="32"
            height="32"
        />
        Germanja
    </h3>
    <p>
        Instagram: <a
            href="https://www.instagram.com/ichbinmanja"
            target="_blank"
            rel="noopener noreferrer">ichbinmanja</a
        >
    </p>

    <h3>
        <img
            src={getHead("2fb36f12426b46109287d43c24486db4")}
            alt=""
            width="32"
            height="32"
        />
        tsukinoko_kun
    </h3>
    <p>
        Website: <a
            href="https://www.frank-mayer.io"
            target="_blank"
            rel="noopener noreferrer">frank-mayer.io</a
        >
    </p>
    <p>
        GitHub: <a
            href="https://github.com/Frank-Mayer"
            target="_blank"
            rel="noopener noreferrer">Frank-Mayer</a>
    </p>

    <h3>
        <img
            src={getHead("de791f780c3b4a42a6ffe83a621c3be3")}
            alt=""
            width="32"
            height="32"
        />
        Majeve
    </h3>
</Layout>
