@use "../globals";
@use "sass:math";

#navBar {
  position: fixed;
  left: 0;
  $count: 5;
  --height: min(100vh, #{$count * 75}px);
  --item-height: calc(
    var(--height) / #{$count} - #{math.div(
        ($count - 1) * globals.$padding,
        $count
      )}
  );
  height: var(--height);
  top: calc(50vh - (var(--height) / 2));
  width: calc(2 * var(--item-height));
  display: grid;
  gap: globals.$padding;
  grid-template-rows: repeat(#{$count}, var(--item-height));

  > * {
    width: calc(var(--item-height) * 2);
    background: {
      image: url(../assets/img/wool_colored_gray.webp);
      size: var(--item-height);
      position: #{globals.$padding * -4} 0;
      repeat: repeat;
    }
    padding: 8px 64px 8px 32px;
    clip-path: polygon(
      100% 0,
      calc(100% - 32px) 50%,
      100% 100%,
      0% 100%,
      0% 0%
    );
    transition: transform 0.2s ease-out;
    will-change: transform, background-image;

    > img {
      height: 100%;
    }

    &:not(:hover) {
      transform: translateX(-16px);
    }
  }
}
