@use "./globals";

.discordOnlineList {
  overflow-y: auto;

  .member {
    img {
      height: 1em;
      width: 1em;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
    }

    img.online {
      border-color: globals.$dark-green;
    }

    img.idle {
      border-color: globals.$gold;
    }

    img.dnd {
      border-color: globals.$dark-red;
    }
  }
}
