$dark-blue: #0000aa;
$dark-green: #00aa00;
$dark-aqua: #00aaaa;
$dark-red: #aa0000;
$dark-purple: #aa00aa;
$gold: #ffaa00;
$gray: #aaaaaa;
$dark-gray: #555555;
$blue: #5555ff;
$green: #55ff55;
$aqua: #55ffff;
$red: #ff5555;
$yellow: #ffff55;

$padding: 8px;

$default-font: "Circular Book", sans-serif;
