// Button

input[type="submit"],
button {
  border: none !important;
  outline: none !important;
  cursor: pointer;
  color: white;
  image-rendering: pixelated;
  max-width: 512px;
  margin: {
    left: auto;
    right: auto;
  }

  width: 100%;
  display: block;

  padding: globals.$padding globals.$padding * 2;

  background: {
    color: transparent;
    image: url(../assets/img/widgets.webp);
    repeat: no-repeat;
    size: 128% 1500%;
  }

  &:not(:hover) {
    background-position: 0 28.03%;
  }

  &:hover {
    background-position: 0 36.4%;
  }
}

// Text and select

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  cursor: text;
  outline: none !important;
  border: none !important;
  background: {
    position: 0 42.9%;
    size: 160% 800%;
  }
}

select {
  cursor: pointer;
  appearance: none;
  outline: none !important;
  border: none !important;
  background: {
    position: 0 15%;
    size: 160% 990%;
  }
}

textarea {
  width: 100%;
  min-height: 20vmin;
  outline: none !important;
  border: none !important;
  resize: vertical;
  background: {
    image: url(../assets/img/wool_colored_white.webp);
    size: 16vmin;
    position: 8vmin 8vmin;
    repeat: repeat;
  }
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select {
  image-rendering: pixelated;
  background: {
    color: transparent;
    image: url(../assets/img/toasts.webp);
    repeat: no-repeat;
  }
  color: black;
  height: 1.5em;
  padding: 0 32px 0 8px;
}

label {
  cursor: pointer;
}

// Placeholder

#placeholder,
::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: globals.$dark-gray !important;
  opacity: 1; // Firefox
}

// Checkbox
$checkbox-size: 1em;

input[type="checkbox"]:not([disabled]),
input[type="radio"]:not([disabled]) {
  cursor: pointer;

  &:not(:hover) {
    &:not(:checked) {
      background-position: 0 0;
    }

    &:checked {
      background-position: 0 -#{$checkbox-size};
    }
  }

  &:hover {
    &:not(:checked) {
      background-position: -#{$checkbox-size} 0;
    }

    &:checked {
      background-position: -#{$checkbox-size} -#{$checkbox-size};
    }
  }
}

input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;

  &:not(:checked) {
    background-position: 0 0;
  }

  &:checked {
    background-position: 0 -#{$checkbox-size};
  }
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none !important;
  width: $checkbox-size;
  height: $checkbox-size;
  outline: none !important;
  border: none !important;
  background: {
    color: transparent !important;
    image: url(../assets/img/checkbox.webp);
    size: calc(#{$checkbox-size * 3} + 3px);
    repeat: no-repeat;
  }
}
