.copy {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover {
    filter: drop-shadow(2px 4px 6px black);
    -moz-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
}
