#discordOnlineList
  overflow-y: auto
  .member
    img
      height: 1em
      width: 1em
      border:
        radius: 50%
        width: 2px
        style: solid

      &.online
        border-color: #00AA00
      &.idle
        border-color: #FFAA00
      &.dnd
        border-color: #AA0000
