#landingPage
  background: linear-gradient(rgba(75, 75, 75, 0.4), rgba(0, 0, 0, 0.9)), url("img/wallpaper.jpeg")
  background:
    position: center
    repeat: no-repeat
    size: cover

  width: 100vw
  height: 100vh
  text-align: center

  h1
    transform: translateY(50vh)
    color: white
    font-size: max(42px, 5vw)

  img
    position: absolute
    bottom: 75px
    width: 32px
    left: calc(50vw - 16px)
