@media only screen and (max-device-width: 768px) {
  #navBar {
    bottom: 8px;
  }
}

@media only screen and (min-device-width: 768px) {
  #navBar {
    top: 8px;
  }
}

#navBar {
  --item-size: 42px;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;

  > div {
    transition: all 250ms ease-in-out;
    width: fit-content;
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-gap: 6px;
    justify-content: space-between;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background: linear-gradient(
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.05) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 30px,
      rgba(255, 255, 255, 0.25) 1px 1px 0px inset,
      rgba(0, 0, 0, 0.25) 0px -1px 0px inset;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    &:hover {
      grid-gap: 10px;
    }

    > * {
      cursor: pointer;
      height: var(--item-size);
      width: var(--item-size);
      transition: all 100ms ease-in-out;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      background-repeat: no-repeat;
      background-size: contain;

      &:hover {
        transform: scale(1.45) translateY(10%);
      }
    }

    > *.home {
      background-image: url("img/logo.webp");
    }

    > *.discord {
      background-image: url("img/discord.webp");
    }

    > *.players {
      background-image: url("img/iron_axe.webp");
    }

    > *.rules {
      background-image: url("img/book_written.webp");
    }

    > *.team {
      background-image: url("img/apple_golden.webp");
    }

    > *.shop {
      background-image: url("img/gold_ingot.webp");
    }

    > *.map {
      background-image: url("img/map.webp");
    }
  }
}
