$bannerCount: 7;
$margin: 4px;
$paddingSide: 8px;
$paddingBack: 16px;
$paddingBackH: $paddingBack * 2;
$paddingTip: $paddingBackH * 2;
$fullBannerWidth: 100vmin / ($bannerCount + 1);
$iconWidth: calc(
  ((#{$fullBannerWidth}) - #{2 * $margin}) - #{2 * $paddingSide}
);
$letterWidth: calc(((#{$fullBannerWidth}) - #{$margin}));
$sizeLandscape: $paddingBackH + $paddingTip + $iconWidth;
$sizePortrait: $paddingBackH + $paddingBack + $iconWidth;

$selectedBannerBack: url("img/wool_colored_green.webp");
$defaultBannerBack: url("img/wool_colored_gray.webp");

#root.home #navBar .home,
#root.discord #navBar .discord,
#root.players #navBar .players,
#root.rules #navBar .rules,
#root.team #navBar .team,
#root.shop #navBar .shop,
#root.map #navBar .map {
  transform: unset !important;
  cursor: default !important;
  background-image: $selectedBannerBack !important;
  filter: saturate(0.9) !important;

  > img {
    filter: saturate(1) drop-shadow(0 0 2px black) !important;
  }
}

#navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;

  * {
    image-rendering: auto !important;
    image-rendering: crisp-edges !important;
    image-rendering: pixelated !important;
  }

  > div > * {
    transition: all ease-in-out 150ms;
    color: white;
    cursor: pointer;
    background-image: $defaultBannerBack;
    background-size: $letterWidth;

    > img {
      width: $iconWidth;
      opacity: 0.9;
      filter: saturate(0.75) drop-shadow(0 0 1px black);
    }
  }
}

// Landscape
@media only screen and (min-width: 100vh) {
  #navBar {
    bottom: 0;
    align-items: center;

    > div {
      max-height: fit-content;
      height: -moz-max-content;

      > * {
        padding: $paddingSide $paddingTip $paddingSide $paddingBackH;
        margin: $margin 0;
        width: $sizeLandscape;
        clip-path: polygon(
          100% 0,
          calc(100% - #{$paddingBackH}) 50%,
          100% 100%,
          0% 100%,
          0% 0%
        );

        &:not(:hover) {
          -o-transform: translateX(-#{$paddingBack});
          -moz-transform: translateX(-#{$paddingBack});
          -webkit-transform: translateX(-#{$paddingBack});
          transform: translateX(-#{$paddingBack});
        }
      }
    }
  }
}

// Portrait
@media only screen and (min-height: 100vw) {
  #navBar {
    right: 0;
    justify-content: center;

    > div {
      max-width: fit-content;
      width: -moz-max-content;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      > * {
        padding: $paddingBackH $paddingSide $paddingBack $paddingSide;
        margin: 0 $margin;
        height: $sizePortrait;
        clip-path: polygon(
          100% 0%,
          100% 100%,
          50% calc(100% - #{$paddingBack}),
          0 100%,
          0 0
        );
      }
    }
  }
}
