.steve.arm {
  z-index: 8 !important;
  --pixel-size: max(26px, 3vmax);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  position: fixed;
  width: calc(4 * var(--pixel-size));
  height: calc(12 * var(--pixel-size));
  bottom: calc(-1 * var(--pixel-size) + 32vh);
}

.steve.arm.left {
  left: min(40vw, max(0px, calc(var(--map-margin) - 32px)));
  -webkit-transform: rotateZ(190deg);
  -moz-transform: rotateZ(190deg);
  -o-transform: rotateZ(190deg);
  transform: rotateZ(190deg);
}

.steve.arm.right {
  right: min(40vw, max(0px, calc(var(--map-margin) - 32px)));
  -webkit-transform: rotateZ(170deg);
  -moz-transform: rotateZ(170deg);
  -o-transform: rotateZ(170deg);
  transform: rotateZ(170deg);
}
