#title {
  width: 100vw;
  height: 125vh;
  text-align: center;
  padding-top: 10vh;

  * {
    color: white;
  }

  h1 {
    font-size: 25vmin;
    font-weight: 700;
  }

  p {
    font-size: 4.4vmin;
  }
}
