#wip
  position: fixed
  z-index: 1000
  cursor: pointer
  bottom: 10vh
  left: 8px
  right: 8px
  font:
    size: 10vmin
    weight: 900
  background-color: #00000080
  color: red
  text-align: center
  -webkit-backdrop-filter: blur(16px)
  backdrop-filter: blur(16px)
