#navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: 100vw;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: $padding;

  > * {
    background: {
      image: url(../assets/img/wool_colored_gray.webp);
      position: 0 #{$padding * -4};
      repeat: repeat;
    }
    height: 25vw;
    padding: 24px 4px 24px 4px;
    clip-path: polygon(100% 0%, 100% 100%, 50% calc(100% - 16px), 0 100%, 0 0);
    transition: transform 0.2s ease-out;

    > img {
      width: 100%;
    }

    transition: transform 0.2s ease-out;
    will-change: transform, background-image;

    &:not(:hover) {
      transform: translateY(-16px);
    }
  }
}
