#title {
  height: 75vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  > h1 {
    font-size: 25vw;
  }

  > p {
    font-size: 3vw;

    > img {
      filter: invert(1);
    }
  }

  > * {
    color: white;
  }
}
